---
sitetitle: CSCI E-114, Web Application Development Using Jamstack
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
</head>
<body>
    <header><h1>{{ sitetitle }}</h1></header>
    <main>
        <h2>{{ title }} </h2>
        {{ content }}
    </main>
    <footer>
        <p>This is a list of resources compiled for CSCI E-114, "Web Application Development using Jamstack"</p>
        <p>Instructors of CSCI E-114 are Arthur J. Barrett, Larry P. Bouthillier, David P. Heitmeyer, and Michael D. Hilborn</p>
    </footer>
</body>
</html>